.directionsBtn {
    color: white !important;
    text-decoration: none;
}

.card {
    background-color: transparent !important;

}

.cardBorder {
    padding: 10px !important;
    border-width: 2px !important;
    border-radius: 30px !important;
    margin: 0 2.5% 2.5% 2.5%;
    vertical-align: top;
    background-color: #fffcf2 !important;
    filter: drop-shadow(10px 10px 0.75rem #5a5cb6dc) !important;
}

.cardContent {
    display: inline-block;
    width: 100%;
    min-height: 200px;
    height: auto;
    text-align: center;
}

.title {
    font-size: 30px !important;
}

a {
    text-decoration: underline;
    color: #3c91e6 !important;
}

a:hover {
    color: #2b1bbf !important;
}


h2 {
    font-size: 25px !important;
    color: #8b9db9;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-bottom: 25px;
    background-color: #5a5cb6 !important;
    filter: drop-shadow(0 0 0.75rem #edf2f4) !important;
}