.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto auto auto !important;
    text-align: center;
    padding: 4%;
}

/* center the images */
.images img {
    margin: auto;
    border-radius: 10px;
    max-width: 650px;
    max-height: 650px;
}
