.imgcontainer {
    margin: auto;
    color: black;
    text-align: center;
    height: auto;
    width: auto;
}

img {
    display: inline-block;
    margin: 25px 10px;
    height: auto;
    width: 250px;
    border-radius: 10px;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}