.form-control {
    background-color: #98c1d9 !important;
    border: #98c1d9 !important;
    border-radius: 15px !important;
    padding: 20px !important;
}

input {
    border-radius: 30px !important;
    background-color: #edf2f4;
    color: #2b2d42;
    padding-left: 20px !important;
}

input:focus {
    outline: none !important;
}

.btn-success {
    margin-bottom: 25px;
    background-color: #5a5cb6 !important;
    filter: drop-shadow(0 0 0.75rem #edf2f4);
}

.attributes {
    color:#2b2d42;
}