.navigation {
    background-color: #ef233c;
}

.dropstart .dropdown-toggle::before{
    display: none !important;
}    

.brand {
    font-family: "Futura", sans-serif;
    font-weight: 200;
}

.weatherIcon {
    color: white;
}    

.dropdown-menu {
    background-color: #1d3557 !important;
}

.locationWeather {
    color: #e63946
}

a.dropdown-item {
    color: #fff !important;
}

span {
    color: #8ecae6
}

